body{
    height: 1000px;
}
.heading-fix {
    margin-left: 115px;
    margin-bottom: 60px;
    margin-top: 30px;
}
.icon{
    height: 40px;
    width: 40px;
    color: blueviolet;
    margin: 10px 0px;
}
.div-fix{
    height: 400px;
}

.bg-img{
    background-image: url("../images/hey.jfif")
}
.bg-img2{
    background-image: url("../images/hey2.jfif");
}
.bg-img3{
    background-image: url("../images/hey3.jfif");
}
.text{
    color: white;
}
.push{
    height: 400px;
}
.center{
    font-size: 2rem;
    margin: 40px 40px;
    color: white;
}
.border{
    border-radius: 10%;
}
.icon-like{
    color: blueviolet;
}